@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  font-size: 18px;
  --primary-color: #ef4444;
  --secondary-color: #991b1b;
  --tertiary-color: #fca5a5;
  --primary-color-dark: #7f1d1d;
  --primary-color-light: #fee2e2;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --section-height: 92vh;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Arimo", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  border: none;
  border-radius: var(--space-s);
  margin: var(--space-s);
  color: var(--primary-color-light);
  font-size: clamp(2vh, 0.5rem, 3vh);
  background-color: var(--primary-color-dark);
}

.header-links {
  white-space: nowrap;
}

.header-links > button:nth-of-type(1n + 2) {
  margin-left: var(--space-l);
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

h2 {
  font-size: max(2.5rem, 1rem);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-color-dark);
  padding: var(--space-s) var(--space-l);
  box-shadow: 0px 1px 7px 0px black;
  height: 10vh;
}

nav > img {
  height: clamp(20px, 9vh, 10vh);
  width: clamp(30px, 10vw, 11vw);
}

#content {
  color: var(--primary-color-dark);
  font-size: clamp(0.3vw, 1.8rem, 1.4vw);
  font-weight: 400;
  overflow-y: hidden;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 10vh;
}

.about-us {
  background: url(./assets/home_background.jpg) no-repeat center center;
  background-size: cover;
  grid-row: 1;
  padding: var(--space-l);
  max-height: var(--section-height);
}

#content .about-us > p {
  margin-top: var(--space-m);
  max-width: 35%;
}

#menu-section-wrapper {
  background-color: var(--secondary-color);
  grid-row: 2;
}

.menu-section {
  opacity: 0;
  height: var(--section-height);
  color: var(--primary-color-light);
  padding: var(--space-l);
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 2fr;
}

.menu-section > h2,
p {
  grid-row: 1;
  align-self: center;
  margin-bottom: var(--space-m);
}

.menu-section > p {
  justify-self: center;
}

.menu-text {
  grid-row: 2;
  grid-column: 1;
  align-self: flex-start;
}

.product-grid {
  grid-area: 2 / 2 / 2 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5vh;
  max-width: 75%;
  justify-self: center;
}

.grid-item {
  justify-self: center;
}

.grid-item > img {
  height: clamp(5px, 15vh, 16vh);
  width: clamp(2px, 8vw, 10vw);
  border-radius: 20%;
}

.grid-item > img:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 0px black;
  transition: 0.5s transform ease;
}

.product-footer-text {
  grid-area: 4 / 1 / 5 / 4;
  background-color: var(--primary-color);
  padding: var(--space-m);
  align-self: center;
  text-align: center;
  font-size: 1.5rem;
}

.animate {
  opacity: 1;
  transition: 1.5s opacity linear;
}

#contact-section-wrapper {
  grid-row: 3;
  background-color: var(--tertiary-color);
  height: var(--section-height);
  padding: var(--space-l);
}

.contact-section {
  color: var(--primary-color-dark);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contact-section > p:first-of-type, h2 {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

.contact-section > h2 {
  grid-row: 1 / 1;
}

.contact-section > p:last-of-type {
  grid-area: 1 / 2 / 1 / 2;
}

.contact-section > input {
  background-color: var(--primary-color-light);
  grid-area: 2 / 2 / 2 / 2;
  font-size: large;
  height:80%;
  width: 50%;
}

@media (max-width: 1273px) {
  :root {
    font-size: 10px;
  }
}

@media (max-width: 511px) {
  :root {
    font-size: 6px;
  }
}
